{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Add department</h2>
  <form method="POST" class="form-inline">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control", placeholder="Enter department name")}}
    </div>
    {{ form.add(class="btn btn-default")}}
  </form>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Average salary</th>
      </tr>
    </thead>
    <tbody>
    {% for department in departments %}
      <tr>
        <td><a href="{{url_for('department', id_=department.id)}}">{{department.name}}</a></td>
        <td>No employees</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn">Edit</button>
            <button type="button" class="btn delete">Delete</button></div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}